<div class="container">
<p id="notice"><%= notice %></p>

<h1>Coletas</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Valor máximo</th>
      <th>Relatório</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @collections.each do |collection| %>
      <tr>
        <td><%= collection.max_value %></td>
        <td><%= collection.report %></td>
        <td><%= link_to 'Show', collection,class: 'btn' %></td>
        <td><%= link_to 'Destroy', collection, method: :delete, data: { confirm: 'Are you sure?' },class: 'btn' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Coleta', new_collection_path, class: 'btn' %>
</div>