<%= form_for(register) do |f| %>
  <% if register.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(register.errors.count, "error") %> prohibited this register from being saved:</h2>

      <ul>
      <% register.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <br>
  <div class="row">
    <div class="span6">
      <div class="field">
        <%= f.label :weight, "Peso:" %>
        <%= f.text_field :weight %>
      </div>
    </div>
    <div class="span6">
      <div class="field">
        <%= f.label :residue_id, "Resíduo:" %>
        <%= f.collection_select(:residue_id, Residue.all.order(:name), :id, :name) %>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>