<div class="container">

<p id="notice"><%= notice %></p>

<h1>Registros</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Peso</th>
      <th>Resíduo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @registers.each do |register| %>
      <tr>
        <td><%= register.weight %></td>
        <td><%= Residue.find(register.residue_id).name %></td>
        <td><%= link_to 'Show', register,class: 'btn' %></td>
        <td><%= link_to 'Destroy', register, method: :delete, data: { confirm: 'Are you sure?' },class: 'btn' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Registro', new_register_path,class: 'btn' %>
<%= link_to 'Voltar', main_adm_path,class: 'btn'%>
</div>