<p id="notice"><%= notice %></p>

<p>
  <strong>Weight:</strong>
  <%= @register.weight %>
</p>

<p>
  <strong>Residue:</strong>
  <%= @register.residue %>
</p>

<p>
  <strong>Report:</strong>
  <%= @register.report %>
</p>

<%= link_to 'Edit', edit_register_path(@register) %> |
<%= link_to 'Back', registers_path %>
