<p id="notice"><%= notice %></p>

<p>
  <strong>Weight:</strong>
  <%= @register.weight %>
</p>

<p>
  <strong>Residue:</strong>
  <%= @register.residue %>
</p>

<%= link_to 'Editar', edit_register_path(@register),class: 'css_btn_class' %> |
<%= link_to 'Voltar', registers_path,class: 'css_btn_class' %>
