<p id="notice"><%= notice %></p>

<p>
  <strong>Weight:</strong>
  <%= @reportreg.weight %>
</p>

<p>
  <strong>Report:</strong>
  <%= @reportreg.report %>
</p>

<%= link_to 'Edit', edit_reportreg_path(@reportreg) %> |
<%= link_to 'Back', reportregs_path %>
