<p id="notice"><%= notice %></p>

<p>
  <strong>Dep name:</strong>
  <%= @reportcell.dep_name %>
</p>

<p>
  <strong>Lab name:</strong>
  <%= @reportcell.lab_name %>
</p>

<p>
  <strong>Res name:</strong>
  <%= @reportcell.res_name %>
</p>

<p>
  <strong>Kind:</strong>
  <%= @reportcell.kind %>
</p>

<p>
  <strong>Total:</strong>
  <%= @reportcell.total %>
</p>

<p>
  <strong>Onu:</strong>
  <%= @reportcell.onu %>
</p>

<p>
  <strong>State:</strong>
  <%= @reportcell.state %>
</p>

<p>
  <strong>Blend:</strong>
  <%= @reportcell.blend %>
</p>

<p>
  <strong>Code:</strong>
  <%= @reportcell.code %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @reportcell.unit %>
</p>

<p>
  <strong>Report:</strong>
  <%= @reportcell.report %>
</p>

<%= link_to 'Edit', edit_reportcell_path(@reportcell) %> |
<%= link_to 'Back', reportcells_path %>
