<h1>Pagina principal do administrador</h1>

<br>

<%= link_to 'pagina de geração de relatorios', new_report_path %> <br>
<%= link_to 'pagina de estatistica de dados', 'statistic' %> <br>
<%= link_to 'pagina de requisições', 'request' %> <br>
<%= link_to 'pagina do perfil de usuario', 'account' %> <br>

<%= link_to 'Cadastrar Collection', new_collection_path %> <br>
<%= link_to 'Cadastrar Departamento', new_department_path %> <br>
<%= link_to 'Cadastrar Laboratorio', new_laboratory_path %> <br>
<%= link_to 'Cadastrar Residuo', new_residue_path %> <br>
<%= link_to 'Cadastrar Registro', new_register_path %> <br>