<h1>Estatistica</h1>

<table>
  <thead>
    <tr>
      <th>Resíduos Cadastrados</th>
      <tr>
          <th>Nome</th>
          <th>Tipo</th>
          <th>Peso</th>
          <th>Laboratorio</th>
          <th>Departamento</th>
          <th colspan="3"></th>
        </tr>
    </tr>
  </thead>

  <tbody>
    <% if !@residues.empty? %>
      <% @residues.each do |residue| %>
        <tr>
          <td><%= residue.name %></td>
          <td><%= residue.kind %></td>
          <td><%= residue.weight %></td>
          <td><%= Laboratory.find(residue.laboratory_id).name%></td>
          <td><%= Department.find(residue.laboratory_id).name %></td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td>Lista vazia</td>
      <>
    <% end %>
  </tbody>
</table>
<br>

<body>
  <% if !@residues.empty? %>
    <a href="/types">
      <button>Gerar Total de Resíduos Acumulados por Tipo</button>
    </a>
  <% else %>
    <button type="button" onclick="alert('Não possui residuos cadastrados')">Gerar Total de Resíduos Acumulados por Tipo</button>
  <% end %>
</body>

<body>
   <button type="button" onclick="alert('Hello world!')">Gerar Previsão de Notificação de Coleta</button>
</body>
