<h1>Residuos divididos por tipo</h1>

<table>
  <thead>
    <tr>
      <th>Resíduos por Tipo</th>
      <tr>
          <th>Tipo</th>
          <th>Peso</th>
          <th colspan="3"></th>
        </tr>
    </tr>
  </thead>

  <tbody>
    <% if !@residues.empty? %>
      <% @residues.each do |residue| %>
        <tr>
          <td><%= residue.name %></td>
          <td><%= residue.kind %></td>
          <td><%= residue.weight %></td>
          <td><%= Laboratory.find(residue.laboratory_id).name%></td>
          <td><%= Department.find(residue.laboratory_id).name %></td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td>Lista vazia</td>
      <>
    <% end %>
  </tbody>
</table>
<br>