<%= form_for(residue) do |f| %>
  <% if residue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(residue.errors.count, "error") %> prohibited this residue from being saved:</h2>

      <ul>
      <% residue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :kind %>
    <%= f.select :kind, ["Sólido Orgânico","Sólido Inorgânico","Líquido Orgânico","Líquido Inorgânico","Líquido Inflamável","Outros"]%>
  </div>

  <div class="field">
    <%= f.label :blend %>
    <%= f.text_field :blend %>
  </div>

  <div class="field">
    <%= f.label :onu %>
    <%= f.text_field :onu %>
  </div>

  <div class="field">
    <%= f.label :code %>
    <%= f.text_field :code %>
  </div>

  <div class="field">
    <%= f.label :laboratory_id %>
    <%= f.collection_select(:laboratory_id, Laboratory.all.order(:name), :id, :name) %>
  </div>

  <div class="field">
    <%= f.label :collection_id %>
    <%= f.collection_select(:collection_id, Collection.all.where(created_at: Collection.last.created_at), :id, :id) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
