<div class = "title">
  <h1>Dados do Resíduo:</h1>
  
</div>
<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @residue.name %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @residue.kind %>
</p>

<p>
  <strong>Composição:</strong>
  <%= @residue.blend %>
</p>

<p>
  <strong>Onu:</strong>
  <%= @residue.onu %>
</p>

<p>
  <strong>Código:</strong>
  <%= @residue.code %>
</p>

<p>
  <strong>Laboratório:</strong>
  <%= @residue.laboratory.name %>
</p>

<p>
  <strong>Collection:</strong>
  <%= @residue.collection %>
</p>

<p>
  <strong>Peso registrado:</strong>
  <%= @residue.registers.sum(:weight) %>
</p>

<%= link_to 'Editar', edit_residue_path(@residue),class: 'css_btn_class' %> |
<%= link_to 'Voltar', residues_path,class: 'css_btn_class' %>
