<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @residue.name %>
</p>

<p>
  <strong>Kind:</strong>
  <%= @residue.kind %>
</p>

<p>
  <strong>Blend:</strong>
  <%= @residue.blend %>
</p>

<p>
  <strong>Onu:</strong>
  <%= @residue.onu %>
</p>

<p>
  <strong>Code:</strong>
  <%= @residue.code %>
</p>

<p>
  <strong>Laboratory:</strong>
  <%= @residue.laboratory %>
</p>

<p>
  <strong>Collection:</strong>
  <%= @residue.collection %>
</p>

<%= link_to 'Edit', edit_residue_path(@residue) %> |
<%= link_to 'Back', residues_path %>
