<%= form_for(report) do |f| %>
  <% if report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
      <% report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <br>
  <div class="row">
    <div class="span2">
      <div class="field">
        <%= f.label :generate_by, "Gerar por:"%>
        <%= f.radio_button :generate_by, 0, :checked => true , :id => 'rb0'%> Coleta <br>
        <%= f.radio_button :generate_by, 1, :checked => true , :id => 'rb1'%> Departamento <br>
        <%= f.radio_button :generate_by, 2, :checked => false , :id => 'rb2'%> Laboratório <br>
        <%= f.radio_button :generate_by, 3, :checked => false , :id => 'rb3'%> Resíduos
      </div>
    </div>
    <div class="span5">
      <div id="select_bd" class="field">
        <%= f.label :begin_dt, "Data e hora inicial:" %>
        <%= f.datetime_select :begin_dt %>
      </div>
    </div>
    <div class="span5" >
      <div id="select_ed" class="field">
        <%= f.label :end_dt, "Data e hora final:"  %>
        <%= f.datetime_select :end_dt %>
      </div>
    </div>
  </div>

  <br>
  <div class="row">
    <div class="span2">
      <%= f.label :filter, "Filtros:"  %>
      <div class="field">
        <%= f.check_box :unit %> Unidade
      </div>
    
      <div class="field">
        <%= f.check_box :state %> Estado Físico
      </div>
    
      <div class="field">
        <%= f.check_box :kind %> Tipo
      </div>
    
      <div class="field">
        <%= f.check_box :onu %> Código ONU
      </div>
    </div>
    <div class="span2">
      <label><br></label>
      <div class="field">
        <%= f.check_box :blend %> Composição
      </div>
    
      <div class="field">
        <%= f.check_box :code %> Código Class.
      </div>
    
      <div class="field">
        <%= f.check_box :total %> Total
      </div>
    </div>
    <div class="span8" >
      <%= f.label :list, "Lista de opções:" %>
      <div id="rb1_list">
        <%= f.collection_select :list, Department.order(:name), :name, :name, {include_blank: false}, {multiple: true} %>
      </div>

      <div id="rb2_list">
        <%= f.collection_select :list, Laboratory.order(:name), :name, :name, {include_blank: false}, {multiple: true} %>
      </div>

      <div id="rb3_list">
        <%= f.collection_select :list, Residue.order(:name), :name, :name, {include_blank: false}, {multiple: true} %>
      </div>
    </div>
  </div>

  <br>
  
  <div class="actions">
    <%= f.submit %>
  </div>
  
  

<% end %>