<p id="notice"><%= notice %></p>
<div class = "title">
<h1>Histórico de Relatórios</h1>
</div>
</end>

<table>
  <thead>
    <tr>
  
      <th>Gerado por:</th>
      <th>Data inicial:</th>
      <th>Data final:</th>

    </tr>
  </thead>

  <tbody>
    <% @reports.each do |report| %>
      <tr>
        <td>
          <% if report.generate_by == 1%>Departamento<%end%>
          <% if report.generate_by == 2%>Laboratório<%end%>
          <% if report.generate_by == 3%>Resíduo<%end%>
         </td>
        <td><%= report.begin_dt %></td>
        <td><%= report.end_dt %></td>
        <td>
          <%= link_to 'Show', report,  class: 'css_btn_class' %>
          <%= link_to 'Edit', edit_report_path(report),class: 'css_btn_class' %>
          <%= link_to 'Destroy', report, method: :delete, data: { confirm: 'Are you sure?' },class: 'css_btn_class' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>

<%= link_to 'Voltar', main_adm_path,class: 'css_btn_class' %>
<%= link_to 'Novo Relatório', new_report_path,class: 'css_btn_class' %>
