<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="/main_adm"><strong>SGRQ</strong> - Resíduos Químicos</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li><a href="/departments/new">Criações</a></li>
                    <li class="active"><a href="/reports/new">Relatórios</a></li>
                    <li></li><a href="/statistic">Estatístico</a></li>
                    <li><a href="/registers/new">Registro</a></li>
                    <li><a href="/request">Requisições</a></li>
                    <li><a href="/account">Perfil</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">
<p id="notice"><%= notice %></p>
<h1>Histórico de Relatórios</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Gerado por:</th>
      <th>Data inicial:</th>
      <th>Data final:</th>
    </tr>
  </thead>

  <tbody>
    <% @reports.each do |report| %>
      <tr>
        <td>
          <% if report.generate_by == 0%>Coleta<%end%>
          <% if report.generate_by == 1%>Departamento<%end%>
          <% if report.generate_by == 2%>Laboratório<%end%>
          <% if report.generate_by == 3%>Resíduo<%end%>
         </td>
        <td><%= report.begin_dt %></td>
        <td><%= report.end_dt %></td>
        <td>
          <%= link_to 'Show', report,class: 'btn' %>
          <%= link_to 'Destroy', report, method: :delete, data: { confirm: 'Are you sure?' },class: 'btn'  %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>

<%= link_to 'Voltar', main_adm_path,class: 'btn' %>
<%= link_to 'Novo Relatório', new_report_path,class: 'btn' %>
<hr>
</div>